  {% load static %}
  <!--Breadcrumb Area-->
  <section class="breadcrumb-area banner-1" data-background="{% static 'images/banner/9.jpg' %}">
    <div class="text-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 v-center">
            <div class="bread-inner">
              <div class="bread-menu">
                <ul>
                  <li><a href="{% url 'home_page' %}">Home</a></li>
                  <li><a href="#">{{menu}}</a></li>
                </ul>
              </div>
              <div class="bread-title">
                <h2>{{title}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Breadcrumb Area-->