{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block content %}
	<!--Start Hero-->
	<section class="hero-section business-startup" id="home">
		<div class="text-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 v-center">
						<div class="header-heading">
							<h1 class="wow fadeInUp" data-wow-delay=".2s">Give your business a boost with best in class B2B services</h1>
							<p class="wow fadeInUp" data-wow-delay=".4s">Service We offer: Income Tax Return, GST Return, Passport Application, Pan Card Agency, Newspaper Ads, Insurance and Many More</p>
							<a href="{% url 'auth_page' %}" class="btn-main bg-btn3 lnk wow fadeInUp" data-wow-delay=".6s">Signup Free<i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
						</div>
					</div>
					<div class="col-lg-6 v-center">
						<div class="hero-photo"><img src="{% static 'images/Blogging_Minimalistic/blogging.svg' %}" alt="Trending Knowledge Image"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Hero-->
	<!--Start About-->
<section class="about-freelance pad-tb" id="about">
<div class="container">
<div class="row">
  <div class="col-lg-6">
    <div class="common-heading text-l">
      <span>ABOUT Finseva</span>
      <h2 class="mb20">WE SOLVE PROBLEMS-</h2>
      <p> <a style="color: #407BFF;" href="https://finseva.in/">finseva.in</a> is a user-friendly and easy to use website designed specially for internet cafés and agents. We provide full support to grow your business. With zero investment, you can have access to quality service for your business.</p>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="counter-facts">
      <div class="counter-no mb20 wow bounceIn" data-wow-delay=".2s">
        <div class="hexagon hexa1" data-tilt data-tilt-max="20" data-tilt-speed="1000">
          <div class="counter-number">
            <span class="counter">100</span><span>+</span>
            <p>Agents</p>
          </div>
        </div>
      </div>
      <div class="counter-no mb20  wow bounceIn" data-wow-delay=".4s">
        <div class="hexagon hexa2" data-tilt data-tilt-max="20" data-tilt-speed="1000">
          <div class="counter-number">
            <span class="counter">20</span><span>+</span>
            <p>Cities</p>
          </div>
        </div>
      </div>
      <div class="counter-no mt20  wow bounceIn" data-wow-delay=".6s">
        <div class="hexagon hexa3" data-tilt data-tilt-max="20" data-tilt-speed="1000">
          <div class="counter-number">
            <span class="counter">6</span><span>+</span>
            <p>Year's Experience</p>
          </div>
        </div>
      </div>
      <div class="counter-no mt20  wow bounceIn" data-wow-delay=".8s">
        <div class="hexagon hexa4" data-tilt data-tilt-max="20" data-tilt-speed="1000">
          <div class="counter-number">
            <p>All India Service <br> Reachablitiy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<!--End About-->
	<!--Start Service-->
	<section class="dg-service2 pb120 pt0" id="services">
		<div class="container">
			<div class="row upset ">
				<div class="col-lg-3 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".2s">
					<div class="s-block up-hor pt20">
						<div class="nn-card-set">
							<div class="card-icon"><img src="{% static 'images/icons/designer.svg' %}" alt="service" class="img-fluid" /></div>
							<h4>Live Chat</h4>
							<p>We provide live chat facility available for instant resolution to your questions and queries</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".4s">
					<div class="s-block up-hor pt20">
						<div class="nn-card-set">
							<div class="card-icon"><img src="{% static 'images/icons/mobile-rafiki.svg' %}" alt="service" class="img-fluid" /></div>
							<h4>Training</h4>
							<p>Training will be provided via call and anydesk, How to use the platform</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".6s">
					<div class="s-block up-hor pt20">
						<div class="nn-card-set">
							<div class="card-icon"><img src="{% static 'images/icons/strategy-cuate.svg' %}" alt="service" class="img-fluid" /></div>
							<h4>Business Growth</h4>
							<p>With our experience we will guide you, How to grow your business</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".8s">
					<div class="s-block up-hor pt20">
						<div class="nn-card-set">
							<div class="card-icon"><img src="{% static 'images/icons/growth-ico.svg' %}" alt="service" class="img-fluid" /></div>
							<h4>Quality Service</h4>
							<p>To provide quality service is the prime motive of our company</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Service-->
	<section class="about-dg-busign pb120 pt120 bg-light-ylo upset" id="about">
	<div class="up-curvs"><svg height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 1920 89.3" style="enable-background:new 0 0 1920 89.3;" xml:space="preserve" fill="#e9f5ff">
<path d="M1919.5,89.5H-0.5c0,0,0-90,0-90c114.9,4.8,228.6,17.9,343.6,24.6c118.6,7,237.4,11.9,356.1,14.7
c237.6,5.7,475.3,3.1,712.7-7.7c164.2-7.5,328.1-23.7,492.3-31c0.7,0,15.2-0.5,15.2-0.6C1919.5-0.5,1919.5,89.5,1919.5,89.5z"/>
</svg>
</div>
<div class="container">
<div class="row">
<div class="col-lg-6 v-center">
<div class="common-heading-2 text-l">
<h2 class="mb20">Why You Choose Us</h2>
<p>
	Fast and Reliable Service <br>
	Easy to use <br>
	Full Technical and Training support <br>
	Best Prices and Commission <br>
	Free to join
</p>
</div>
</div>
<div class="col-lg-6 v-center">
<img src="{% static 'images/about/finance-cuate.svg' %}" alt="img" class="img-fluid">
</div>
<div class="col-lg-6 v-center mt40 order2">
<img src="{% static 'images/about/businessplan.svg' %}" alt="img" class="img-fluid">
</div>
<div class="col-lg-6 v-center mt40 order1">
<div class="common-heading-2 text-l">
<h2 class="mb20">Distributor Program</h2>
<p>You want to earn extra on your income? Join Us as a Distributor, Where you can earn handsome income with little efforts Email us at info@finseva.in </p><br/><br/>
<a href="mailto:info@finseva.in" class="btn-main bg-btn3 lnk wow fadeInUp" data-wow-delay=".6s">Email Now<i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a><br/><br/>

</div>
</div>
</div>
</div>
<div class="bottom-curvs">
<svg height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 1920 89.3" style="enable-background:new 0 0 1920 89.3;" xml:space="preserve" fill="#e9f5ff" >
<path d="M1919.5-0.5H-0.5c0,0,0,90,0,90c114.9-4.8,228.6-17.9,343.6-24.6c118.6-7,237.4-11.9,356.1-14.7
c237.6-5.7,475.3-3.1,712.7,7.7c164.2,7.5,328.1,23.7,492.3,31c0.7,0,15.2,0.5,15.2,0.6C1919.5,89.5,1919.5-0.5,1919.5-0.5z"/>
</svg>
</div>
</section>


<!--Start Testinomial-->
<section class="dg-testinomial-section  pb120 pt120">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="common-heading-2">
					<span class="text-effect-1">Our happy Clients</span>
					<h2 class="mb30">Clients Testimonials</h2>
				</div>
			</div>
		</div>
	<!-- <center> -->
					<div class="col-lg-6">
						<div class="owl-carousel testimonial-card-a pl25">
							<div class="testimonial-card">
								<div class="client-thumbs">
									<div class="media v-center ">
										<div class="user-image bdr-radius"><img src="{% static 'images/head-659651_640.webp' %}" alt="Client-Photo" class="img-fluid" /></div>
										<div class="media-body user-info v-center">
											<h5>Amandeep Singh</h5>
											<p><small>India</small></p>
										</div>
										<i class="fas fa-quote-right quote-css"></i>
									</div>
								</div>
								<div class="t-text mt30">
									<p>Finseva.in provides problem to every solution in 30 to 35 mins. I get my customer's ITRs in no time. Also the price is best.</p>
								</div>
							</div>
							<div class="testimonial-card">
								<div class="client-thumbs">
									<div class="media v-center ">
										<div class="user-image bdr-radius"><img src="{% static './images/head-659651_640.webp' %}" alt="Client-Photo" class="img-fluid" /></div>
										<div class="media-body user-info v-center">
											<h5>Ashu Kararia</h5>
											<p><small>India</small></p>
										</div>
										<i class="fas fa-quote-right quote-css"></i>
									</div>
								</div>
								<div class="t-text mt30">
									<p>Earlier I never entertained customers of Passport and GST, now with Finseva.in I am adding more services to my business and my business is growing.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- </center> -->
			</div>
		</section>
		<!--End Testinomial-->
{% endblock content %}

{% block scripts %} 
<script src="{% static './js/Blogging.json' %}"></script>
{% endblock scripts %}