{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8"/>
	<!-- Unique page title -->
	<title>Finseva | Reset Password </title>
	<meta name="description" content="Welcome to Finseva.in">
	<meta name="keywords" content="Finseva">
	<meta name="author" content="Anmol Arora">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="theme-color" content="#fff">
	<!--website-favicon-->
	<link href="{% static 'images/favicon.png' %}" rel="icon">
	<!--plugin-css-->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
 </head>

  <body class="bg-info m-0 p-0">
  	<div class="container row mt-5 p-0 ml-auto mr-auto">	
	<form class="form card p-3 col-10 col-md-7 m-auto" method="POST"> {% csrf_token %}
		<legend class="border-bottom">Reset Password</legend>
		{{ form | crispy }}
		<div class="input-group">
			<button class="btn btn-primary" type="submit">Request Password</button>
		</div>
  	</div>
	</form>
</body>
</html>