{% extends 'base.html' %}
{% load static %}

{% block title %} Refund Policy {% endblock title %}
{% block content %}
{% include 'breadcrumb.html' with menu='Refund Policy' title='Refund Policy' %}
      <!--Start About-->

	  <section class="about-sec-rpbx pad-tb">
		<div class="container">
		   <div class="row justify-content-center text-center">
			  <div class="col-lg-10">
				 <div class="common-heading">
					<h3 class="mb30"><span class="text-second">Privacy Policy for Finseva</span></h3>
<div style=" text-align: justify !important;"><p>We make every attempt to ensure that you are satisfied with your experience at Finseva.in fees and prices are set by Finseva.in and may vary from time to time. We do our best to fulfill the demands of customers, however all the services listed on the website are Non-Refundable. Detailed Refund Policy as follows:</p>
<br/>

<br/>

<h3>Income Tax Return</h3>
<p>No refund shall be provided in any case whatsoever. This includes:</p>
	<p>Customer has already filled return of requested year;
	however Customer ITR acknowledgement and Computation of income will be shared
	<p>Filling of form near or on the last date during peak timing.</p>
	<p>Website failure or any technical issue</p>
	</p>

<h3>GST Registration</h3>
<p>No refund shall be provided in any case whatsoever. This includes:
	In Case we have already started to work on your case.
</p>
<br/>

<h3>Newspaper Publications</h3>
<p>No refund shall be provided in any case whatsoever. This includes:
	Delay in delivery of papers due to geographical reachability
	Wrong Spellings mentioned by user while submitting the form
	</p>
<br>

<h3>Provident Fund Filling</h3>
<p>No refund shall be provided in any case whatsoever. This includes:
	In Case we have already started to work on your case.
	</p>
<br>


<h3>Insurance</h3>
<p>No refund shall be provided Where Payment has been made to insurance company for issuance of policy
	</p>
<br/>



<h3>Passport Application</h3>
<P>No refund shall be provided in any case whatsoever. This includes:
	In Case we have already started to work on your case
	</p>
<br/>


<h3>MSME Certificate</h3>
<p>No refund shall be provided in any case whatsoever. This includes:
	In Case we have already started to work on your case.
	 </p>
<br/>



				 </div>
			  </div>
		   </div>
		</div>
	 </section>


      <!--End About-->
{% endblock content %}