{% extends 'base.html' %}
{% load static %}

{% block title %} Services {% endblock title %}
{% block content %}
				<!--Breadcrumb Area-->
				<section class="breadcrumb-areav2" data-background="{% static 'images/banner/6.jpg' %}">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-7">
								<div class="bread-titlev2">
									<h1 class="wow fadeInUp" data-wow-delay=".2s">Motor Insurance Commission</h1>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--End Hero-->

				<!--Start About-->

			<section class="service pad-tb">
				<h2 style="text-align: center;">30% Commission</h2>

				<div class="div-table">
					<table class="">

						<thead>
						  <tr class="trbg ">
							<th scope="col">Vehicle Type</th>
							<th scope="col">Premium (With GST)</th>
							<th scope="col">Commission</th>

						  </tr>
						</thead>
						<tbody>
						  <tr>
							<td data-label="Account">Two Wheeler (Upto 150cc)</td>
							<td data-label="Due Date">Rs: 828</td>
							<td data-label="Amount">Rs: 200</td>

						  </tr>
						  <tr>
							<td scope="row" data-label="Account">Two Wheeler (151cc to 300cc)</td>
							<td data-label="Due Date">Rs: 1407</td>
							<td data-label="Amount">Rs: 350</td>

						  </tr>
						  <tr>
							<td scope="row" data-label="Account">Car (Upto 1000c)</td>
							<td data-label="Due Date">Rs: 2445</td>
							<td data-label="Amount">Rs: 620</td>

						  </tr>
						  <tr>
							<td scope="row" data-label="Acount">Car (Upto 1000cc to 1500cc)</td>
							<td data-label="Due Date">Rs: 3800</td>
							<td data-label="Amount">Rs: 960</td>

						  </tr>
						  <tr>
							<td scope="row" data-label="Acount">Car (Over 1500cc)</td>
							<td data-label="Due Date">Rs: 9310</td>
							<td data-label="Amount">Rs: 2350</td>

						  </tr>
						</tbody>
					  </table>
				</div>

			</section>

				<!--Start About-->
{% endblock content %}
